@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background: linear-gradient(190deg,var(--bg1),var(--bg2),var(--bg3));
    color: var(--font-color);
    font-family: var(--font-family);   
    margin: 0; 
}



