:root{
    --bg1: #121214;
    --bg2: #8679da;
    --bg3: #1a1a8d;
    --border-card: #121810;
    --border-header: #0a050233;
    --box-shadow: #00000080;
    --font-a: #8c61f1;
    --font-q: #04f504;
    --font-color: #f6f8f8;
    --font-family: 'VT323',sans-serif;
}